<h1>Store</h1>
<p>Welcome to our product store</p>

<ul>
    {{#each products}}
        <li>
            <p><b>{{this.id}} - {{this.name}}</b>: {{this.description}}</p>
            <p><b>Price</b>: ${{this.price}}</p>
        <form action='/products/' method="POST">
        <input type="hidden" value="{{this.id}}" name="id">
        <button type="submit">Deletar</button>
        </form>
        <button onclick="window.location.href = '/products/{{this.id}}';">Editar</button>
        </li>
    {{/each}}
</ul>